@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

.full-height-section {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.styled-background {
  background-size: cover;
  background-position: center;
  padding: 50px 10px;
  border-radius: 5px;
  margin-bottom: 40px;
  color: white;
}

.display-4.styled-heading {
  font-family: serif;
  font-size: 18vw;
}


.container {
  text-align: center;
}

.social_box {
  margin-top: 20px;
}

.social_box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.social_box ul li {
  display: inline-block;
  margin:0px 10px;
}

.social_box .text {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}