.custom-navbar {
    background-color: black;
}

.navbar .navbar-brand {
    color: white;
    font-size: 22px;
    font-family: fantasy;
}

.navbar .navbar-brand:hover {
    color: white;
}

/* make sure title stays white */
.navbar .navbar-brand.active {
    color: white;
}

/* make sure title stays white */
.navbar.navbar-expand-lg {
    background-color: black;
}

.navbar-nav .nav-item .nav-link.option {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s;
}

/* Hover enlarge effect */
.navbar-nav .nav-item .nav-link.option:hover {
    transform: scale(1.05);
}

/* Bold active link */
.nav-link.option.active-link {
    font-weight: bold;
}


.brand-name {
    color: white;
    font-size: 22px;
    font-family: fantasy;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
}

.input-field {
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 8px 0;
    outline: none;
    font-size: 1em;
}

.remember-me {
    display: flex;
    align-items: center;
    font-size: 0.7em;
}

.btn-primary {
    padding: 5px 10px;
    width: 100%;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: darkblue;
    border-color: darkblue;
}

.form-footer {
    font-size: 0.7em;
    display: block;
    text-align: center;
}

.form-toggle {
    background: none;
    color: blue;
    border: none;
    cursor: pointer;
    font-weight: bold;
}