.main{
    background-color: black;
    height:100vw;
}


.description {
    color:rgb(255, 255, 255);
    font-size: 1.5em;
    font-family: cursive;
    text-shadow: 2px 4px 4px;

}

.bar {
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}

.bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.searchbar {
    height: 45px;
    width: 575px;
    font-size: 16px;
    border-radius: 25px;
    border:none;
}

 
.results-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* Individual result item */
.result-item {
    max-width: 200px;
}

.result-image {
    width: 100%;
    border-radius: 5px;
}

.result-title {
    margin-top: 0.5rem;
    font-size: 1rem;
}

/* search icon */
.search-btn {
    background-color: black;
    border: none;
    padding: 10px; 
    cursor: pointer;
    border-radius: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.results {
    width:60%;
    height:70%;
}                  
