body {
    background-color: #aaa;
}

.page-header,
main {
    padding: 1em 2em;
}

/* Page Header */

.page-header {
    background-color: rgb(219, 214, 172);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu ul {
    display: flex;
}

.main-menu li {
    list-style: none;
    margin-left: 2em;
}

/* Main Content */

main {
    background-color: white;
}

.author {
    color: rgb(50, 66, 205);
    font-weight: bold;
}

.method {
    display: flex;
}

.method>article {
    margin-right: 4em;
}