<!DOCTYPE html>

<html>
    <head>
        <title>Search Images</title>
    </head>

    <body>
        <a href = "{{ url_for('home') }}">Home</a>

        <form action = "/generation" method = "POST" enctype="multipart/form-data">
            <label for = "prompt">Your Prompt</label>
            <input type = "text" name = "prompt" placeholder = "Prompt.." required> <br>
            <label for = "reference">Reference Image</label>
            <input type = "file" name = "reference" placeholder = "Drop Your Image" accept = "image/*" required>
            <input type = "submit" value = "Generate">
        </form>
    </body>
</html>